body {
    background: #f6f6f6;
}

.imagem-banner {
    object-fit: cover;
    object-position: 0 ;
    width: 100vw;
    height: 300px;
}

h2 {
    display: inline;
    position: relative;
    bottom: 20px;

    text-align: center;
    padding: 20px;
    margin-bottom: 5px;

    color:antiquewhite;
    font-weight: lighter;
    background-color: rgb(114, 114, 114);
    box-shadow: 10px 10px rgba(56, 53, 53, 0.603);
}

.caixa-texto {
    width: 80%;
    height: 30%;
    margin-top: 50px;
}

.texto {
    padding: 2px;
    margin: 10px 0;

    font-size: 22px;
    text-align: center;
}

iframe {
    width: 20%;
    height: auto;
}

.midias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.card {
    width: 290px;
    height: 300px;
    padding: 0;
}

.cards {
    margin: 20px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.63);
}

.caixa-cards {
    margin: 40px 0;
}

.card-imagens {
    height: 100%;
}

.links {
    text-decoration: none;
    color: antiquewhite;

    background-color: rgb(114, 114, 114);
    box-shadow: 3px 3px rgba(56, 53, 53, 0.603);

    padding: 3px;
}

.links:hover {
    color: antiquewhite;
    transition: 0.5s;
    transform: scale(1.2);
}